<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Salesforce Suite">
	<test thread-count="5" parallel="tests" name="Salesforce Legal Entity Test">

		<parameter name="url" value="https://login.salesforce.com" />
		<parameter name="username" value="lakshmi.sendmail2.13e14de33494@agentforce.com" />
		<parameter name="password" value="Salesforce123" />

		<classes>
			<class name="assignments.week6.day1.SalesforceParameterize" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
